<h1>DJ Khaled</h1>
<p>Here we'll be showing you the keys to success through Cloth Talk.</p>
<div class="Key">
	<div class="row">

   <div align="center"><table cellpadding="0" width="400" cellspacing="0"><tr><td> target="DJ Khaled"><img src="https://pbs.twimg.com/profile_images/671526635691229184/RQjwFxNT_400x400.jpg" alt="Khaled" width="250" height="250" border="0"></td><td>target="_blank"><img src="http://www.ptleads.com/Admin/Media/BlogImages/385/385.jpg" alt="Key to Success" width="250" height="250" border="0"></td><td> <img src="http://munfitnessblog.com/wp-content/uploads/2009/09/Oily-Fried-Egg-with-Yolk.jpg" alt="Egg Whites...Bless Up" width="250" height="250" border="0"></td></tr></table></div>


  <p></p>
  
  <%= link_to "Register", login_path , class: "btn btn-lg bt-primary" %>
</div>