<h1>DJ Khaled</h1>
<p>Here we'll be showing you the keys to success through Cloth Talk.</p>
<div class="Key">
	<div class="row">
  	
  	<div class="col-md-4">
  <h1>Anotha One</h1>
  <img src="https://pbs.twimg.com/profile_images/671526635691229184/RQjwFxNT_400x400.jpg" class="img-thumbnail" alt="Khaled" align="left" style="width: 200px; height:200px;">

  <div class="col-md-4">
  	<h1>Key to success</h1>
  	<img src="http://www.ptleads.com/Admin/Media/BlogImages/385/385.jpg" class="img-thumbnail" alt="Key to success" align="middle" style=width:300px; height:200px;">

<div class="col-md-4">
	<h1>Egg Whites...Bless Up</h1>
  <img src="http://munfitnessblog.com/wp-content/uploads/2009/09/Oily-Fried-Egg-with-Yolk.jpg" class="img-thumbnail" alt="bless up" align="right" style="width:200px; height:200px;">"

  <p></p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Login</a></p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Register</a></p>
</div>